<form action="<%= update_profile_interests_path(@profile.username) %>" method="patch" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="columns">
    <aside class="menu leftbar column is-12-mobile is-4">
      <br class="is-hidden-mobile">
      <br class="is-hidden-mobile">
      <div class="box">
        <% if @profile.profile_state == 'created' %>
          <%= render partial: "layouts/step", locals: { step: @profile.profile_state } %>
        <% else %>
          <%= render partial: "interests" %>
        <% end %>
      </div>
    </aside>
    <div class="column is-8 leftbar_content content">
      <br class="is-hidden-mobile">
      <h1 class="title has-text-weight-bold has-text-primary is-size-3">Select Your Interests</h1>
      <p class="subtitle has-text-weight-bold is-size-5">Select the tags that interest you.</p>
      <br>
      <div class="columns is-multiline box">
        <div class="column is-half">
          <% @categories.first(@categories.length / 2).each do |category| %>
            <%= render partial: "category", locals: { category: category, comparable: @profile } %>
          <% end %>
        </div>
        <div class="column is-half">
          <% @categories.last(@categories.length / 2).each do |category| %>
            <%= render partial: "category", locals: { category: category, comparable: @profile } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</form> 