<div class="column is-12">
  <div class="box">
    <h1 class="title">Create Profile</h1>
    <%= form_with model: @profile, url: update_profile_path, method: :patch, data: { turbo: false } do |form| %>
      <!-- Add a border after the subtitle -->
      <hr>
      <h2 class="subtitle is-4">Obligatory fields (*)</h2>
      <div class="columns">
        <div class="field column is-4">
          <%= form.label :username, "Username (*)", class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :username, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:username).first %></p>
          <% end %>
        </div>

        <div class="field column is-4">
          <%= form.label :first_name, "First name (*)", class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :first_name, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:first_name).first %></p>
          <% end %>
        </div>

        <div class="field column is-4">
          <%= form.label :last_name, "Last name (*)", class: "label" %>
          <div class="control">
            <%= form.text_field :last_name, class: "input" %>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:last_name).first %></p>
          <% end %>
        </div>
      </div>

      <hr>
      <h2 class="subtitle is-4">Optional fields</h2>
      <div class="columns"> 
        <div class="field column is-3">
          <%= form.label :gender, class: "label" %>
          <div class="control">
            <label class="radio">
              <%= form.radio_button :gender, "male" %>
              Male
            </label>
            <label class="radio">
              <%= form.radio_button :gender, "female" %>
              Female
            </label>
            <label class="radio">
              <%= form.radio_button :gender, "other" %>
              Other
            </label>
            <label class="radio">
              <%= form.radio_button :gender, "not_say", checked: true %>
              Not specified
            </label>
          </div>
        </div>

        <div class="field column is-3">
          <%= form.label :title, "Title", class: "label" %>
          <div class="control has-icons-right">
            <%= form.select :title, options_for_select(ProfilesController.titles), {}, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-handshake"></i>
            </span>
          </div>
        </div>

        <div class="field column is-3">
          <%= form.label :birthday, class: "label" %>
          <div class="control">
            <%= form.date_field :birthday, class: "input", value: Date.today.strftime("%Y-%m-%d") %>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:birthday).first %></p>
          <% end %>
        </div>

        <div class="field column is-3">
          <%= form.label :phone, class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :phone, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-phone"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:phone).first %></p>
          <% end %>
        </div>
      </div>


      <div class="columns"> 
        <div class="field column is-4">
          <%= form.label :country, class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :country, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-globe"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:country).first %></p>
          <% end %>
        </div>
        <div class="field column is-4">
          <%= form.label :city, class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :city, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-city"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:city).first %></p>
          <% end %>
        </div>
        <div class="field column is-4">
          <%= form.label :state, class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :state, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:state).first %></p>
          <% end %>
        </div>
      </div>

      <div class="columns">
        <div class="field column is-10">
          <%= form.label :street, class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :street, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:street).first %></p>
          <% end %>
        </div>
        <div class="field column is-2">
          <%= form.label :house_number, class: "label" %>
          <div class="control has-icons-right">
            <%= form.text_field :house_number, class: "input" %>
            <span class="icon is-small is-right">
              <i class="fas fa-home"></i>
            </span>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:house_number).first %></p>
          <% end %>
        </div>
      </div>

      <hr>
      <div class="columns"> 
        <div class="field column is-12">
          <div class="control">
            <label class="checkbox">
              <%= form.check_box :terms, class: "checkbox" %>
              I agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Statement</a>.
            </label>
          </div>
          <% if @profile.errors.any? %>
            <p class="help is-danger"><%= @profile.errors.full_messages_for(:terms).first %></p>
          <% end %>
        </div>
      </div>
      <div class="columns"> 
        <div class="field column is-12">
          <div class="control">
            <%= form.submit "Create Profile", class: "button is-primary is-fullwidth" %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</div>