<%= form_with model: @profile, url: update_country_path do |f| %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="columns">
    <aside class="menu leftbar column is-12-mobile is-4">
      <br class="is-hidden-mobile">
      <br class="is-hidden-mobile">
      <div class="box">
        <% if @profile.profile_state == 'interested' %>
          <%= render partial: "layouts/step", locals: { step: @profile.profile_state } %>
        <% else %>
          <%= render partial: "locations" %>
        <% end %>
      </div>
    </aside>
    <div class="column is-8 leftbar_content content">
      <br class="is-hidden-mobile">
      <h1 class="title has-text-weight-bold has-text-primary is-size-3">Select Your Country</h1>
      <div class="box">
        <div class="field">
          <div class="control">
            <div class="select"><%= f.select :country, options_for_select(@countries) %></div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary is-medium" type="submit" name="next" value="next">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>