<div class="p-4">
  <h1 class="title has-text-weight-bold has-text-primary is-size-4"><%= category.name %></h1>
  <div class="columns is-multiline is-flex">
    <% if comparable.interests.where(category_id: category.id).any? %>
      <% Interest.all.where(category_id: category.id).each do |interest| %>
        <div id="ck-button">
          <label>
            <div>
              <input type="checkbox" value="1" name="interests[<%= interest.id %>]"
                <%= comparable.interests.include?(interest) ? "checked" : "" %>/>
              <span class="button is-small is-info m-1 rounded is-outlined">
              <%= interest.name %></span>
            </div>
          </label>
        </div>
      <% end %>
    <% else %>
      <% Interest.all.where(category_id: category.id).each do |interest| %>
        <div id="ck-button">
          <label>
            <div>
              <input type="checkbox" value="1" name="interests[<%= interest.id %>]" />
              <span class="button is-small is-info m-1 rounded is-outlined">
              <%= interest.name %></span>
            </div>
          </label>
        </div>
      <% end %>
    <% end %>
  </div>
</div>