<div id="<%= dom_id event %>" class="card">
  <div class="card-content">
    <div class="columns">
      <div class="column is-one-third">
        <figure class="image is-4by9">
          <img src="https://via.placeholder.com/400x900" alt="Placeholder image">
        </figure>
      </div>
      <div class="column">
        <p class="title is-4">
          <%= event.name %>
        </p>
        <p class="subtitle is-6">
          <% if context == 'index' %>
            <%= event.description.truncate(1000) %>
          <% else %>
            <%= event.description %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
        <strong>Category:</strong>
        <br>
        <%= event.categories.uniq.map(&:name).join(', ') %>
    </div>
    <div class="column is-5">
      <strong>Tags:</strong>
      <br>
      <%= event.interests.uniq.map(&:name).join(', ') %>
    </div>
    <div class="column">
      <strong>Atendees: </strong><br>
      <%= event.atendees.count %>
      <% if current_user && current_user.profile && current_user.profile != event.organizer.profile %>
        <% if event.atendees.include?(current_user.profile) %>
          <%= button_to "Decline", decline_event_path(event.short_name), method: :delete, class: "column button is-danger is-fullwidth" %>
        <% else %>
          <%= button_to "Attend", attend_event_path(event.short_name), method: :post, class: "column button is-success is-fullwidth" %>
        <% end %>
      <% end %>
    </div>    
  </div>
  <div class="card-footer">
    <div class="card-footer-item">
      <p>
        <strong>Organizer:</strong>
        <br>
        <a href="<%= profile_path(event.organizer.profile.username) %>">
        <%= event.organizer.profile.username %></a>
      </p>
    </div>
    <div class="card-footer-item">
      <p>
        <strong>When:</strong>
        <br>
        <%= event.date %> at <%= event.hour %>
      </p>
    </div>
    <div class="card-footer-item">
      <p>
        <strong>Where:</strong>
        <br>
          <%= CS.cities(event.state.to_sym, event.country.to_sym)[event.city.to_i] %>,
          <%= event.state.to_sym %>,
          <%= event.country.to_sym %>
      </p>
    </div>
  </div>
</div>