<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="hero is-fullheight is-default is-bold">
      <%= render "layouts/header" %>
      <div class="hero-body has-background-white-ter" style="margin-top: 52px;">
        <div class="container has-text-centered">
          <%# Lets make a notice and alert but beauty it up with Bulma %>
          <% if notice %>
            <p class="box has-background-success has-text-white"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="box has-background-danger has-text-white"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <%= render "layouts/footer" %>
    </section>
  </body>
</html>
